@model TravelBlog.Models.Location

@{
    ViewData["Title"] = "Location - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this?</h2>
<hr />
@Html.DisplayNameFor(model => model.name): @Html.DisplayFor(model => model.name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<p>@Html.ActionLink("Back Home", "Index")</p>