@model IEnumerable<TravelBlog.Models.Location>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Home</h1>
<p>@Html.ActionLink("Locations", "Index", "Location")</p>